<!DOCTYPE html>
<html>
    <head>
    
        <link rel='stylesheet' href='/css/style.css'>
    </head>
    <body>
        {{> header }}
        <h1>About fromm static folder</h1>
        <img src="/img/me.jpg">
        {{> footer }}
    </body>
</html>